h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    padding: .4rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #4caf50;
    border: 2px solid #4caf50;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

button i{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#previous-btn {
    background-color: transparent;
    color: #4caf50;
}

button:hover, #previous-btn:hover {
    background-color: #2e8b57;
    color: #fff;
}