body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    margin: 3rem auto;
    max-width: 500px;
    padding: 1.6rem;
}

h2 {
    text-align: center;
}

label{
    display: block;
    font-weight: bold;
}

input,
select{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.6rem;
    padding: 0.4rem;
    width: 100%;
}

button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: 0.8rem;
    width: 100%;
    transition: .4s;
}


button:hover {
    background-color: #3e8e41;
}


input:disabled{
    background-color: #f2f2f2;
    color: #777;
}